services:
    app:
      build:
        context: .
        dockerfile: Prod.Dockerfile
      image: laravel-app
      container_name: laravel-app
      restart: unless-stopped
      tty: true
      env_file:
        - .env
      working_dir: /var/www
      volumes:
        - .:/var/www
        - ./deployment/php/local.ini:/usr/local/etc/php/conf.d/local.ini
      depends_on:
        - pgsql
      networks:
        - default
      
    worker:
      image: laravel-app
      container_name: laravel-worker
      restart: unless-stopped
      env_file:
        - .env
      working_dir: /var/www
      volumes:
        - .:/var/www
      command: [ "php", "artisan", "queue:work", "--tries=3" ]
      networks:
        - default
      depends_on:
        - pgsql
    
    webserver:
      build:
        context: .
        dockerfile: Prod.Nginx.Dockerfile
      container_name: nginx-webserver
      restart: unless-stopped
      ports:
        - "2053:2053"
      volumes:
        - .:/var/www
        - ./deployment/nginx:/etc/nginx/conf.d/
        - ./deployment/nginx/certs:/etc/nginx/certs
      networks:
        - default
      
    pgsql:
        image: 'postgres:13'
        ports:
            - '${FORWARD_DB_PORT:-5432}:5432'
        environment:
            PGPASSWORD: '${DB_PASSWORD:-secret}'
            POSTGRES_DB: '${DB_DATABASE}'
            POSTGRES_USER: '${DB_USERNAME}'
            POSTGRES_PASSWORD: '${DB_PASSWORD:-secret}'
        volumes:
            - 'pgsql:/var/lib/postgresql/data'
        networks:
            - default
        healthcheck:
            test: [ "CMD", "pg_isready", "-q", "-d", "${DB_DATABASE}", "-U", "${DB_USERNAME}" ]
            retries: 3
            timeout: 5s
networks:
    default:
        driver: bridge
volumes:
    pgsql:
        driver: local
    storage:
        driver: local
