*
!app-installation/install-bash-script.sh
!app-installation/docker-compose-production.yml
!app-installation/docker-compose-development.yml.yml
!app-installation/docker-compose-staging.yml.yml.yml
!public/
!.gitignore
